#qa_container{
    
    background-color: rgb(1, 34, 43);
    padding: 10px;
    margin: 20px;
    border: 3px solid #03eeff;
    border-radius: 8px;
}
#question_text{

max-width: 40%;
background-color: rgb(5, 5, 5);
padding: 10px;
margin: 10px;
color: white;
border-radius: 8px;
}

#answer_text{
max-width: 40%;
background-color: lightblue;
padding: 10px;
margin: 10px;
border-radius: 8px;
color: black;
}

.start_over_button{
    margin: 10px;
  }

#question_input{

    margin-top: 50px;
}